#markdown-area .container {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

#markdown-area .sub-container {
  color: #444;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman",
    serif;
  line-height: 1.5em;
  padding: 1em;
  margin: auto;
  max-width: 42em;
  background: #fefefe;
}

#markdown-area ul,
#markdown-area ol {
  list-style: auto;
}

#markdown-area a {
  color: #0645ad;
  text-decoration: none;
}
#markdown-area a:visited {
  color: #0b0080;
}
#markdown-area a:hover {
  color: #06e;
}
#markdown-area a:active {
  color: #faa700;
}
#markdown-area a:focus {
  outline: thin dotted;
}
#markdown-area a:hover,
#markdown-area a:active {
  outline: 0;
}

#markdown-area ::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}
#markdown-area ::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

#markdown-area a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}
#markdown-area a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

#markdown-area p {
  margin: 1em 0;
}

#markdown-area img {
  max-width: 100%;
}

#markdown-area h1,
#markdown-area h2,
#markdown-area h3,
#markdown-area h4,
#markdown-area h5,
#markdown-area h6 {
  font-weight: normal;
  color: #111;
  line-height: 1em;
}
#markdown-area h4,
#markdown-area h5,
#markdown-area h6 {
  font-weight: bold;
}
#markdown-area h1 {
  font-size: 2.5em;
}
#markdown-area h2 {
  font-size: 2em;
}
#markdown-area h3 {
  font-size: 1.5em;
}
#markdown-area h4 {
  font-size: 1.2em;
}
#markdown-area h5 {
  font-size: 1em;
}
#markdown-area h6 {
  font-size: 0.9em;
}

#markdown-area blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}
#markdown-area hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}
#markdown-area pre,
#markdown-area code,
#markdown-area kbd,
#markdown-area samp {
  color: #000;
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 0.98em;
}
#markdown-area pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#markdown-area b,
#markdown-area strong {
  font-weight: bold;
}

#markdown-area dfn {
  font-style: italic;
}

#markdown-area ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

#markdown-area mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

#markdown-area sub,
#markdown-area sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#markdown-area sup {
  top: -0.5em;
}
#markdown-area sub {
  bottom: -0.25em;
}

#markdown-area ul,
#markdown-area ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
#markdown-area li p:last-child {
  margin: 0;
}
#markdown-area dd {
  margin: 0 0 0 2em;
}

#markdown-area img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

#markdown-area table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
#markdown-area th {
  border-bottom: 1px solid black;
}
#markdown-area td {
  vertical-align: top;
}

@media only screen and (min-width: 480px) {
  #markdown-area body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  #markdown-area body {
    font-size: 16px;
  }
}

@media print {
  #markdown-area * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  #markdown-area body {
    font-size: 12pt;
    max-width: 100%;
  }
  #markdown-area a,
  #markdown-area a:visited {
    text-decoration: underline;
  }
  #markdown-area hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }
  #markdown-area a[href]:after {
    content: " (" attr(href) ")";
  }
  #markdown-area abbr[title]:after {
    content: " (" attr(title) ")";
  }
  #markdown-area .ir a:after,
  #markdown-area a[href^="javascript:"]:after,
  #markdown-area a[href^="#"]:after {
    content: "";
  }
  #markdown-area pre,
  #markdown-area blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }
  #markdown-area tr,
  #markdown-area img {
    page-break-inside: avoid;
  }
  #markdown-area img {
    max-width: 100% !important;
  }
  @page :left {
    margin: 15mm 20mm 15mm 10mm;
  }
  @page :right {
    margin: 15mm 10mm 15mm 20mm;
  }
  #markdown-area p,
  #markdown-area h2,
  #markdown-area h3 {
    orphans: 3;
    widows: 3;
  }
  #markdown-area h2,
  #markdown-area h3 {
    page-break-after: avoid;
  }
}
